.home-button {
  text-align: center;
  border: 1px solid #309a31;
  box-shadow: unset;
  border-radius: 20px;

  h3 {
    font-weight: bold;
    font-size: 18px;
    span{
      color: #309a31;
    }
  }
}
