<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="auth-page"></ion-back-button>
        </ion-buttons>
        <ion-title>Forget Password</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-content>
        <div class="ion-padding">
            <div class="container ion-text-center">
                <img src="assets/Images/verification.png" alt="Logo">
                <p> Please Choose Email Or Phone Number To Receive The Instructions To Reset Your Password.</p>
            </div>
            <br>
            <form (submit)="forgetUserPassword()">
                <ion-list>
                    <ion-radio-group value="biff">
                        <ion-item>
                            <ion-label position="floating">Phone Number</ion-label>
                            <ion-input type="text" placeholder="Enter Your Phone Number"></ion-input>
                            <ion-radio slot="start" value="biff">
                            </ion-radio>
                        </ion-item>

                        <ion-item>
                            <ion-label position="floating">Email Address</ion-label>
                            <ion-radio slot="start" value="griff">
                            </ion-radio>
                            <ion-input type="text" placeholder="Enter Your Email"></ion-input>
                        </ion-item>
                    </ion-radio-group>
                </ion-list>
                <br>
                <br>
                <ion-button expand="block" color="success" type="submit">Send</ion-button>
            </form>
        </div>
    </ion-content>
</ion-content>
