<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref='/home-page-tabs/home-page'></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="auth-page/registration-page/confirm-registration"></ion-back-button>
        </ion-buttons>
        <ion-title>Verify Your Account</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="ion-padding">
        <ion-card>
            <ion-card-header>
                <ion-card-title class="ion-text-center" color="success">Enter Code</ion-card-title>
            </ion-card-header>
            <ion-card-content class="ion-text-center">
                We Have Sent Verification Code To
                <ion-text color="success">eng.amrmossad93@gmail.com</ion-text>
            </ion-card-content>
        </ion-card>
        <br>
        <form (submit)="onSubmitCode()">
            <ion-item>
                <ion-label position="floating">Code</ion-label>
                <ion-icon name="qr-code-outline" slot="start"></ion-icon>
                <ion-input type="text" placeholder="Enter Your Code"></ion-input>
            </ion-item>
            <p class="ion-text-center">Didn't Receive The Code?
                <ion-router-link color="primary" class="underline" (click)="test()">Re-Send?</ion-router-link>
            </p>
            <br>
            <ion-button expand="block" color="success" type="submit">Verify</ion-button>
        </form>
    </div>
</ion-content>
