<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref='/home-page-tabs/home-page'></ion-back-button>
        </ion-buttons>
        <ion-title>Change Password</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="ion-padding">
        <form (submit)="submitChangePassword()">
            <ion-item>
                <ion-label position="floating">New Password</ion-label>
                <ion-icon name="lock-open-outline" slot="start"></ion-icon>
                <ion-icon (click)="newPassword()" name="eye-outline" slot="end"></ion-icon>
                <ion-input [type]="showNewPassword ? 'text' : 'password'" placeholder="Enter Your Password"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Confirm Password</ion-label>
                <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
                <ion-icon (click)="showConfirmPasswordFun()" name="eye-outline" slot="end"></ion-icon>
                <ion-input [type]="showConfirmPassword ? 'text' : 'password'"
                           placeholder="Confirm Your Password"></ion-input>
            </ion-item>
            <br>
            <ion-button expand="block" color="success" type="submit">Confirm</ion-button>
        </form>
    </div>
</ion-content>
