.container {
  .logo {
    width: 100px;
    margin-top: 20%;
  }
  .slogan-color{
    color: #8a8a8a;
    font-size: 13px;
    padding: 0 10%;
    line-height: 17px;
  }
}
// .or-line:before {
//   border-top: 1px solid #d2d2d2;
//   display: block;
//   height: 1px;
//   content: " ";
//   width: 40%;
//   position: relative;
//   left: 0;
//   top: 1.2em;
// }

// .or-line:after {
//   border-top: 1px solid #d2d2d2;
//   display: block;
//   height: 1px;
//   content: " ";
//   width: 40%;
//   position: relative;
//   right: 0;
// }