.home-header {
  color: #309a31;

  h3 {
    //margin-bottom: 0;
  }

  p {
    //margin-top: 0;
    font-size: 12px;
  }
}

.sign-in-link {
  font-weight: bold;

  a {
    color: #309a31;
    text-decoration: none;
  }
}

.swiper-pagination {
  display: none;
}

.section-title {
  font-size: 14px;
  padding: 0 20px;

  .see-all {
    float: right;

    a {
      color: #309a31;
      text-decoration: none;
    }
  }
}

.home-slider {
  //height: 35vh;

  ion-slides {
    height: 100%;
  }

  .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: unset;
  }

  ion-slide {
    position: relative;
    border-radius: 20px;
    overflow: hidden;

    ion-img {
      height: 200px;
    }
  }

  .slide-description {
    bottom: 0;
    left: 0;
    position: absolute;
    background: #00000073;
    color: #fff;
    padding: 20px;
    width: 100%;

    h3 {
      margin-bottom: 0;
      font-size: 17px;
    }

    p {
      margin: 0;
      font-size: 13px;
    }

    ion-icon {
      margin-right: 5px;
      font-size: 20px;
      position: relative;
      top: 5px;
    }
  }
}

.home-recommended-slider {
  //height: 410px;
  //height: 63vh;

  .recommend-card {
    width: 100%;
    border-radius: 20px;

    .active-star {
      color: #e0bb2e;
    }

    ion-card-content {
      padding-bottom: 0;

      h3 {
        color: #000;
      }

      p {
        color: #ccc;
      }
    }

    .card-footer {
      border-top: 1px solid #eee;
      color: #309a31;
      text-align: left;
      padding: 0 20px;

      ion-icon {
        margin-right: 5px;
        position: relative;
        top: 3px;
      }

      span {
        color: #ccc;
      }
    }

    ion-card-header {
      padding: 0;
    }
  }

  ion-slides {
    height: 100%;

    .slide-image {
      width: 100%;
    }
  }
}

.home-specialties-slider {
  height: 200px;

  ion-slides {
    height: 100%;

    .active {
      background: #309a31;
      color: #fff !important;
    }

    .special-box {
      border-radius: 20px;
      color: #309a31;
      box-shadow: 0px 0px 12px 2px #dedede;

      ion-icon {
        font-size: 40px;
      }
    }
  }
}

.home-button {
  text-align: center;
  border: 1px solid #309a31;
  box-shadow: unset;
  border-radius: 20px;
  color: #309a31;

  h3 {
    font-weight: bold;
    font-size: 18px;
  }
}
.doctor-details {
  margin-top: 0;
  margin-left: 10px;

  .card-doctor-name {
    font-weight: bold;
  }
}

.meta-details {
  font-size: 12px;

  ion-icon {
    font-size: 15px;
    position: relative;
    top: 2px;
  }
}

.card-doctor {
  border-bottom: 1px solid #eee;
  padding: 20px 20px;
  text-align: left;
  border-radius: 20px;
  box-shadow: 0px 0px 12px 2px #dedede;
}

.card-doctor-buttons {
  padding: 0 20px;
}

.stars {
  font-size: 13px;

  .active-star {
    color: #e0bb2e;
  }
}